/*=========\
|| IMPORT ||
\=========*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/*============\
|| VARIABLES ||
\============*/
:root {
	 /*----------------------*\
	/* COLOR SCHEME VARIABLES *\
	\*------------------------*/

	--color-body: rgba(88, 88, 88, 1);
	--color-margins: rgba(61, 37, 17, 1);
	--color-accents: rgba(0, 0, 0, 1);
	--color-font: rgba(255, 255, 255, 1);

	--cover-img: url("../images/donuts_tray.jpg");
	--cover-size: 60vh;
	--cover-font-size: 8vw;

	--main-font-size: 14px;

	--sm-icon-size: 40px;
}

/*==========\
|| GENERAL ||
\==========*/
body {
	margin: 0;
	padding: 0;
	color: var(--color-font);
	font-family: 'Montserrat Alternates', sans-serif;
	background-color: var(--color-body);
}

.cover-container {
	width: 100%;
	height: var(--cover-size);
	min-height: 240px;
	background-image: var(--cover-img);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	z-index: -2;
}

.title-container {
	min-width: 400px;
	overflow: hidden;
	text-overflow: clip;
}

.cover-title {
	font-family: 'Cookie', cursive;
	text-shadow: 0px 0px 8px black;
	font-size: var(--cover-font-size);
}

#header-bar {
	display: flex;
	//position: fixed;
	//background-color: rgba(0, 0, 0, .7);
	//box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .7);
	//width: 100%;
	//z-index: 2;
}

.info-content {
	background-color: rgba(0, 0, 0, .4);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .4);
}

#info-box {
	display: inline-block;
	padding: 8px;
	font-size: var(--main-font-size);
	margin: 15px;
	text-align: left;
	text-shadow: 0px 0px 8px black;
	//-webkit-text-stroke: 1px rgba(255, 255, 255, .7);
}

#social-media-box {
	display: inline-block;
	padding: 4px;
	margin: 15px;
	position: absolute;
	right: 0px;
}

.sm-container {
	display: inline-flex;
	margin: 4px;
}

.sm-icon {
	width: var(--sm-icon-size);
	height: auto;
	fill: white;
	stroke: rgba(0, 0, 0, .25);
}

.footer-icon {
	width: calc(var(--sm-icon-size) / 2);
	height: auto;
}

#cover-tint {;
	position: absolute;
	top: 0;
	width: 100%;
	height: inherit;
	//opacity: .5;
	z-index: -1;
}

.page-container {
	background-color: var(--color-margins);
	align-items: center;
}

.page {
	background-color: var(--color-body);
	padding: 40px;
	width: 72%;
	margin: auto;
}

.footer {
	text-align: center;
	background-color: var(--color-accents);
	height: 200px;
	padding: 40px;
	font-size: calc(var(--main-font-size) * 0.9);
}

/*=============\
|| NAVIGATION ||
\=============*/
.nav-bar {
	display: flex;
	position: sticky;
	top: -1px;
	margin: 0;
	//padding-top: 12px;
	//background-color: var(--color-body);
	align-items: center;
}

.nav-bar2 {
	position: relative;
	display: inline-flex;
	width: 50%;
	margin: auto;
}

.nav-decor-bar {
	position: absolute;
	background-color: var(--color-accents);
	width: 100%;
	height: 50%;
	top: 0px;
	//bottom: 0px;
	z-index: -1;
	text-align: center;
}

.nav-button {
	padding: 12px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: var(--color-accents);
	margin: auto;
	width: fit-content;
	border-radius: 10px;
}

@media (max-width:500px) {
	.nav-bar {
		display: none;
	}
}